@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Inter'; /* Name you will use to reference the font */
  src: url('./Assests/Fonts/Inter_24pt-Medium.ttf') format('truetype'); /* Adjust the path based on your structure */
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold'; /* Name you will use to reference the font */
  src: url('./Assests/Fonts/Inter_18pt-Medium.ttf') format('truetype'); /* Adjust the path based on your structure */
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-SemiBold'; /* Name you will use to reference the font */
  src: url('./Assests/Fonts/Poppins-SemiBold.ttf') format('truetype'); /* Adjust the path based on your structure */
  font-style: normal;
}

@font-face {
  font-family: 'Lato'; /* Name you will use to reference the font */
  src: url('./Assests/Fonts/Lato-Regular.ttf') format('truetype'); /* Adjust the path based on your structure */
  font-style: normal;
}



